version: "3"
services:
  database:
    container_name: database
    env_file:
      - ./database/.env
    build:
      context: ./database
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
  server:
    container_name: api
    env_file:
      - ./server/.env
    build:
      context: . # build needs access to /shared
      dockerfile: ./server/Dockerfile
    ports:
      - "${API_PORT}:${API_PORT}"
    volumes:
      - ./shared:/app/shared
    depends_on:
      - database
  client:
    container_name: client
    env_file:
      - ./client/.env
    build:
      context: .
      dockerfile: ./client/Dockerfile
    ports:
      - "${VITE_CLIENT_PORT}:${VITE_CLIENT_PORT}"
    depends_on:
      - server
